// Media Query Break Points
$min-width-mob: 320px;
$max-width-mob: 700px;

// Tablets
$min-width-tablet: 768px;
$max-width-tablet: 1023px;

// Desktops and Laptops
$min-width-desktop: 1024px;
$max-width-desktop: 1280px;

// Large screens
$min-width-lg-screen: 1824px;
