@import 'Styles/base/color';
@import 'Styles/base/mixins';

.container {
  @include mobile() {
    margin: 75px 0 0 0;
  }
  @include tablet() {
    margin: 85px 0 0 0;
  }
  margin: 20px;
  .content-wrapper {
    display: flex;

    @include lg-screens {
      width: 80%;
      margin: 0 auto;
    }
    .layout-side-left {
      width: 20%;
      @include media(mobile, tablet) {
        display: none;
      }
    }

    .layout-main {
      @include media(mobile, tablet) {
        width: 100%;
        margin: 0;
      }
      width: 50%;
      margin-left: 20px;
    }

    .layout-side-right {
      @include media(mobile, tablet) {
        display: none;
      }
      width: 30%;
      margin-left: 20px;
    }
  }
}
